<html>

<head>
    <title>{{ catName }} - Bird forum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <script src="{{ url_for('static', filename='scripts/navbars.js') }}"></script>
</head>

<body>

    <div>{{ navbars|safe }}</div>

    <div class="main">
        <h2>Discussion category: {{catName}}</h2>

        {% if session.user_id %}
        <form action="/category/{{catId}}/post_thread" method="post">
            <p>Add new thread: <input type="text" name="thread"></p>
            <input type="submit" value="Post">
        </form>
        {% else %}
        <a href="/login">Login</a> or
        <a href="/register">register</a> to take part in the discussion.
        {% endif %}

        <ul>
            {% for t in threads %}
            <li>
                {{t[3]}} <a href="/thread/{{t[0]}}">[Open]</a>
            </li>
            {% endfor %}
        </ul>
    </div>

</body>

</html>