<html>

<link rel="stylesheet" href="{{ url_for('static', filename='styles/navbarstyles.css') }}">

{% block all %}
<div class="sidebar">
    <a href="/">
        <img src="{{ url_for('static', filename='images/forumlogo.png') }}" alt="Bird forum">
    </a>
    <hr>
    <b>Categories:</b>
    {% for cat in category_names%}
    <a href="/category/{{cat[0]}}">{{cat[0]}}</a>
    {% endfor %}
    <hr>
    <a href="/search">Search</a>
</div>

<div class="topbar">
    
    {% if username != "" %}
    Logged in as {{username}} 

    <div class="dropdown">
        <button class="dropbtn">Options</button>
        <div class="dropdown-content">
            <a href="/users/{{username}}">My profile</a>
            <a href="/users">Users</a>
            <a href="/logout">Log out</a>
        </div>
    </div>

    {% else %}
    <a href="/login">Log in</a>
    or
    <a href="/register">register</a>
    {% endif %}
    
</div>
{% endblock %}

</html>