<html>

<head>
    <title>Register - Bird forum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body>
    <div>{{ navbars|safe }}</div>

    <div class="main">
        <form action="/register" method="post">
            <h3>Register</h3>
            <p>Username: <input type="text" name="uname"></p>
            <p>Password: <input type="password" name="pword"></p>
            <input type="submit" value="Register">
            {{message}}
        </form>
    </div>
</body>

</html>