<html>

<head>
    <title>Thread {{thread[0]}} - Bird forum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body>

    <div>{{ navbars|safe }}</div>

    <div class="main">
        <h3>Thread: {{thread[3]}}</h3>

        {% for m in replies %}
        {% if loop.index % 2 == 0 %}
        <div class="reply-even">
            {%else%}
            <div class="reply-odd">
                {% endif %}
                <p>
                    {{m[2].strftime("%d.%m.%Y %H:%M")}}<br>
                    {{m[0]}}:<br>
                    {{m[1]}}
                </p>
            </div>
        {% endfor %}

            <p />

            {% if session.user_id %}
            <form action="/threads/{{thread[0]}}/post_reply" method="post">
                <p>Add your reply: <input type="text" name="reply"></p>
                <input type="submit" value="Post">
            </form>
            {% else %}
            <a href="/login">Login</a> or
            <a href="/register">register</a> to take part in the discussion.
            {% endif %}
        </div>

</body>

</html>