body {
  margin: 0px;
}

.main {
  margin-left: 200px;
  font-size: 18px;
  z-index: auto;
}

.reply-even {
  /* width: 150px; */
  float: left;
  width: 100%;
  /* top: 20px; */
  left: 150px;
  background: rgb(255, 202, 224);
  /* overflow-x: hidden; */
  padding: 8px 8px;
}

.reply-odd {
  /* width: 150px; */
  float: left;
  width: 100%;
  /* top: 20px; */
  left: 150px;
  background: rgb(255, 185, 191);
  /* overflow-x: hidden; */
  padding: 8px 8px;
}